@model IEnumerable<Domain.Knot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Name</h2>

<h3>Last 20 Check-Ins:</h3>

@{
    int counter = 20;
    foreach (Knot knot in Model)
    {
        if (counter > 0)
        {
            <p> A @knot.ApplicationUser.Age year-old @knot.ApplicationUser.Gender made a knot at @knot.Time.</p>
        }
        counter--;
    }
}

<h3>Demographics Breakdown</h3>
<table class="demographTable">
    <tr><td><p>Total Visitors:</td><td><p> @Model.Count()</p></td></tr>
    <tr><td><p>Female Visitors:</p></td><td><p>@ViewBag.Female</p></td></tr>
    <tr><td><p>Male Visitors:</p></td><td><p>@ViewBag.Male</p></td></tr>
    <tr><td><p>Visitors Under 20:</p></td><td><p>@ViewBag.AgeOne</p></td></tr>
    <tr><td><p>Visitors Age 20-35:</p></td><td><p>@ViewBag.AgeTwo</p></td></tr>
    <tr><td><p>Visitors Age 36-49:</p></td><td><p>@ViewBag.AgeThree</p></td></tr>
    <tr><td><p>Visitors Age 49-64:</p></td><td><p>@ViewBag.AgeFour</p></td></tr>
    <tr><td><p>Visitors 65 and Over:</p></td><td><p>@ViewBag.AgeFive</p></td></tr>
</table>

<h3>Other Leading Interests of your Visitors:</h3>

<ol>
    @if (ViewBag.Food > 0)
    {
        <li data-position="@ViewBag.Food">Food (@ViewBag.Food Stringers interested)</li>
    }
    @if (ViewBag.Nightlife > 0)
    {
        <li data-position="@ViewBag.Nightlife">Drinking/NightLife (@ViewBag.Nightlife Stringers interested)</li>
    }
    @if (ViewBag.Activities > 0)
    {
        <li data-position="@ViewBag.Activities">Activities (@ViewBag.Food Stringers interested)</li>
    }
    @if (ViewBag.Animals > 0)
    {
        <li data-position="@ViewBag.Animals">Animals (@ViewBag.Animals Stringers interested)</li>
    }
    @if (ViewBag.Outdoors > 0)
    {
        <li data-position="@ViewBag.Outdoors">Outdoors (@ViewBag.Outdoors Stringers interested)</li>
    }
    @if (ViewBag.Culture > 0)
    {
        <li data-position="@ViewBag.Culture">Culture (@ViewBag.Culture Stringers interested)</li>
    }
    @if (ViewBag.Fashion > 0)
    {
        <li data-position="@ViewBag.Fashion">Fashion (@ViewBag.Fashion Stringers interested)</li>
    }
    @if (ViewBag.Wellness > 0)
    {
        <li data-position="@ViewBag.Wellness">Wellness (@ViewBag.Wellness Stringers interested)</li>
    }
</ol>