@model IEnumerable<Domain.Knot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Stringer</h1>
@{
    var topinterest = ViewBag.TopInterest;
    var secondinterest = ViewBag.SecondInterest;
}
<p class="text-center">
    <a asp-action="CreateKnot">Tie a New Knot</a><br />
    Sort By: <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a> | <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">Time</a> | <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">Type</a>
</p>
<div id="topCategory">
    <h3 class="text-center">@topinterest.ToUpper()</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Type == topinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)"><img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" /></a>

                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="bottomCategory">
    <h3 class="text-center">@secondinterest.ToUpper()</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Type == secondinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)"><img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" /></a>

                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="miscCategory">
    <h3 class="text-center">OTHER</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Type != topinterest && item.Type != secondinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)">
                                        <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>