@model IEnumerable<Domain.Knot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
        var topinterest = ViewBag.TopInterest;
    var secondinterest = ViewBag.SecondInterest;
}
<br />
<p class="text-right">
    sort by: <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">name</a> | <a asp-action="Index" asp-route-sortOrder="@ViewData["TimeSortParm"]">time</a> | <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]">type</a>
</p>
<h1 class="text-center">s t r i n g e r
    <a asp-action="CreateKnot"><img id="fingerKnot" src="~/images/finger.jpg" /></a></h1>
<div id="topCategory">
    <h3>@topinterest.ToUpper()</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Type == topinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)"><img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" /></a>

                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<div id="bottomCategory">
    <h3>@secondinterest.ToUpper()</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Type == secondinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)"><img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" /></a>

                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<br />
<div id="miscCategory">
    <h3>OTHER</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Type != topinterest && item.Type != secondinterest)
                {
                    <tr>
                        <td>
                            @{
                                if (item.Photo != null)
                                {
                                    <a href="@Html.DisplayFor(modelItem => item.Photo)" data-lightbox="@Html.DisplayFor(modelItem => item.Location.Name)" data-title="@Html.DisplayFor(modelItem => item.Location.Name)">
                                        <img src="@Html.DisplayFor(modelItem => item.Photo)" alt="@Html.DisplayFor(modelItem => item.Location.Name)" height="50" width="50" />
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="AddPhoto" asp-route-id="@item.Id">Add Photo</a>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Comments)
                        </td>
                        <td>
                            <a asp-action="EditKnot" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
